In [1]:
import os

In [2]:
import pandas as pd

In [3]:
%pwd

'c:\\Users\\pavan\\Desktop\\Fraud-Detection-E2E-ML-project-using-MLflow\\research'

In [7]:
from download import download_file

In [12]:
data = download_file('s3bucketfrauddata','data/', 'fraud_data.csv')

Error: Unable to locate credentials

In [18]:
os.chdir('../')

In [10]:
import pandas as pd

In [ ]:
import boto3

# Initialize the AWS S3 client
s3 = boto3.client('s3')

# Replace these with your S3 bucket name, object name (path), and local file name
bucket_name = 's3bucketfrauddata'
object_name = 'data/fraud_data.csv'
file_name = 'fraud_data.csv'

try:
    s3.download_file(bucket_name, object_name, file_name)
    print("File downloaded successfully")
    
    # Read the downloaded CSV file into a Pandas DataFrame
    df = pd.read_csv(file_name)
    df = pd.DataFrame(df)
    
except Exception as e:
    print(e)

In [14]:
df.head()

,trans_date_trans_time,category,amt,gender,city_pop,dob,fraud
0,01-01-2019,misc_net,4.97,F,3495,09-03-1988,0
1,01-01-2019,grocery_pos,107.23,F,149,21-06-1978,0
2,01-01-2019,entertainment,220.11,M,4154,19-01-1962,0
3,01-01-2019,gas_transport,45.00,M,1939,12-01-1967,0
4,01-01-2019,misc_pos,41.96,M,99,28-03-1986,0